@model IEnumerable<MusicLibrary.Models.Playlist>

@{
    ViewData["Title"] = "Playlists";
}

<h1>Index</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-hover;text-primary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlaylistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSongs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaylistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSongs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalTime)
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="DisplaySongForPlaylist" asp-route-id="@item.PlaylistId">See songs from your playlist</a>
                <a class="btn btn-outline-primary" asp-action="Delete" asp-route-id="@item.PlaylistId">Delete</a> 
                
            </td>
        </tr>
}
    </tbody>
</table>
